ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
.active {
    background-color: #04aa6d;
    color: white;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #333
}

.body {
    background-color: black;
    color: white;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 70px;
    border-radius: 50%;
}

.name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.list {
    margin-left: 10px;
    padding: 50px;
}

.li {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.bio {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    margin: 75px auto;
    text-align: center;
    width: 600px;
}

.projectHeader {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-align: center;
    margin-top: 50px;
}

.projects {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #a8a8a8;
    padding: 20px;
}